html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: url('../img/background3.gif') no-repeat center center fixed;
    /*ИЗМЕНИЛ БЭКГРАУНД КОЛОР НА ЧЕРНЫЙ*/
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    width: 100%;
    color: whitesmoke;
    margin: 0;
    font-family: Montserrat;
    line-height: 1.1;
}


html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  body {
    background: url('../img/background3.gif') no-repeat center center fixed;
    /*ИЗМЕНИЛ БЭКГРАУНД КОЛОР НА ЧЕРНЫЙ*/
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    width: 100%;
    color: whitesmoke;
    margin: 0;
    font-family: Montserrat;
    line-height: 1.1;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: Montserrat;
  }
  
  .sidebar.open {
    right: 0;
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px 20px;
    padding-top: 90px;
    width: calc(100% - 40px);
    height: 100%
  }
  
  
  .content {
    display: block;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    transition: background 0.3s ease;
  }
  
  .contact {
    font-size: 45px;
  }
  
  .sidebar-content a:hover {
    background: #666;
  }
  
  .sidebar-footer {
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
  
  .toggle-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1100;
    transition: background 0.3s ease;
  }
  
  .toggle-btn:hover {
    background-color: #555;
  }
  
  ::placeholder {
    text-align: left;
    color: white;
  }
  
  input {
    background-color: rgba(0, 0, 0, 0.24);
    border: none;
    border-bottom: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    color: white;
    padding: 5px 0;
    margin-bottom: 10px;
  }
  
  .checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
  }
  
  #agree {
    font-size: 12px;
  }





::selection {
    background: rgb(0, 255, 242);
    color: black;
  }

section-1 {
    width: 1400px;
    min-height: 80vh;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

/*navbar*/
nav {
    position: fixed;
    width: 100%;
    padding: 15px 30px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-sizing: border-box;
    height: 99px;
    z-index: 2;
}

#nav {
    transition: all 0.3s ease;
}

#nav.hidden {
    transform: translateY(-100%);
    opacity: 0;
}
  

#left-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

#logo {
    margin-left: 60px;
    z-index: 3;
    position: fixed;
    margin-top: 29px ;
    height: 44px;
}

.contact-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

#right-nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;

}

#span-arrow {
    font-size: 20px;
}

#contact-button {
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 18px;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    transition: all 0.3s ease;
    margin-right: 30px   
}


#email, #phone, #uslugi-button, #projekty-button {
    border: none;
    color: whitesmoke;
    cursor: pointer;
    background-color: transparent;
    font-size: 1rem;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    transition: border-color 0.3s ease;
    position: relative;
}

#contact-button:hover {
    background-color: rgb(0, 255, 242);
    color: black;
    transition: all 0.3s ease;
}

#contact-button.open {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

#email::after, #phone::after, #uslugi-button::after, #projekty-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

#email:hover::after, #phone:hover::after, #uslugi-button:hover::after, #projekty-button:hover::after {
    transform: scaleX(1);
}



/*section 1*/
#section-1 {
    background-color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text-s1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#p-light {
    color: rgb(0, 255, 242);
    font-size: 2em;
    font-weight: 900;
}

#p-text {
    color: rgba(245, 245, 245, 0.675);
    font-weight: 600;
}

.text1-s1 {
    font-size: 3em;
    display: block;
}

.text2-s1 {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 7rem;
    margin-top: 4rem;
    font-weight: 300;
}

.info {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

#foundation, #projects, #people, #clients {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#p-foundation, #p-projects, #p-people, #p-clients {
    font-size: 45px;
    border-bottom: solid 1px rgb(0, 255, 242);
}

/*section-2*/

#section-2 {
    height: 100;
    flex-direction: row;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 99px;
    display: flex; /* Arrange aside and services horizontally */
    margin-bottom: 30px;
}

#section-2 .title {
    font-size: 2rem;
    font-weight: 900;
}



.services
{
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  cursor: pointer;
  flex: 1;
  margin-left: 0; /* Remove the offset */
  padding-right: 1rem;
  position: inherit;
  right: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.581);
  transition: all 0.3s ease;
}

#services-main {
    margin-top: 64px;
}

.services:hover
{
  border-bottom: solid 1px rgb(0, 255, 242);
  transition: all 0.5s ease;
}

.question
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.answer p{
    font-weight: 200;
}

.question h3
{
  font-size: 1.7rem;
  margin-right: 20px;
  color: #ffffffec;
}

#plus {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease;
    
}
#span-question {
    font-size: 1.8rem;
    color: rgb(0, 255, 242);
    margin-right: 20px;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; 
  }
    

.answer p
{
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.services.active .answer
{
  max-height: 300px;
}


.services.active #plus {
    transform-origin: center;
    transform: rotate(45deg); /* Rotate when active */
}

aside {
    margin-top: 60px;
    position: sticky; /* Make aside sticky */
    top: 99px; /* Keep it visible at the top while scrolling */
    align-self: flex-start; /* Align the aside to the top of the section */
    width: auto; /* Set the width of the aside */
    background-color:transparent; /* Optional background */
    color: whitesmoke; 
    box-sizing: border-box;
    height: auto;
    flex-shrink: 0;
    margin-right: auto;
    font-size: 2rem;
}

/* section-3 */
#section-3 {
    padding-top: 99px;
    padding-left: 60px;
    padding-right: 60px;
}

#section-3 .title {
    margin-top: 60px;
    font-size: 2rem;
    font-weight: 900;
}

/* test carousel */
.slider {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
    will-change: transform; /* For better GPU rendering */
}

.slide {
    flex: 0 0 calc(25% - 10px); /* Four slides with gap */
    margin-right: 11px;
    text-align: left;
    
}

.slider-container {
    overflow: hidden; /* Ensures content stays inside the container */
    position: relative;
    margin-top: 32px;
    padding-bottom: 5px;
    user-select: none;
    margin-bottom: 64px;
}

.slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 18px;
    pointer-events: none;
    transition: transform 0.3s ease; /* Move this here */
}

.slide-caption {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: whitesmoke;
}

#project-more {
    border: none;
    background-color: #ffffff1f;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 18px;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    transition: all 0.3s ease;
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: center;
}

#project-more:hover {
    background-color: rgb(0, 255, 242);
    color: black;
    transition: all 0.3s ease;
}

/* Секция 5 - Testimonials */
#section-4 {
    padding-top: 99px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-4 .title {
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 32px;
    display: flex;
    margin-right: auto;
}

.testimonials-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Автоматическое распределение столбцов */
    grid-auto-rows: auto; /* Высота строк под содержимое */
    gap: 10px; /* Отступы между элементами */
}

.testimonial {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 30px;
    transition: all 0.3s ease;
    flex-direction: column;
}

.testimonial p {
    display: flex;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.6;
    margin-bottom: 20px;
    color: rgba(245, 245, 245, 0.875);
}

.client-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.client-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.client-info h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: whitesmoke;
}

.client-info p {
    font-weight: 200;
    color: rgba(245, 245, 245, 0.675);
    margin: 0;
}

#client-more {
    margin-top: 46px;
    border: none;
    background-color: #ffffff1f;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 18px;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    transition: all 0.3s ease;
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: center;
}
#client-more:hover {
    background-color: rgb(0, 255, 242);
    color: black;
    transition: all 0.3s ease;
}


/* section-5 */

#section-5 {
    padding: 60px;
}

#section-5 .title {
    margin-top: 30px;
    margin-right: 60px;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 32px;
    display: flex;
    margin-right: auto;
}

  
/* Adaptive grid for partner logos */
.partners-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    row-gap: 30px;
    justify-items: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
}
  
.partner-logo img {
    max-width: 100%;
    height: 50px;
    object-fit: contain;
    transition:
      transform 0.5s ease,
      opacity 0.3s ease;
    filter: invert();
}
  
/* Hover effect */
.partner-logo img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
  
  /* Fade-out and fade-in effects */
.partner-logo img.fade-out {
    opacity: 0;
}
  
.partner-logo img.fade-in {
    opacity: 1;
}


/* footer */
#footer {
    margin-top: 200px;
}

#footer-contact {
    height: 50%;
    background-color: rgba(128, 128, 128, 0);
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

#footer-contact h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
    margin-right: auto;
    position: flex;
    transition: all 0.3s ease;
    cursor: pointer;
}

#footer-contact h2:hover {
    color: rgb(0, 255, 242);
    transition: all 0.3s ease;
}

#footer-contact button {
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 100%;
    transition: all 0.3s ease;
    position: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding-top: 6px;    
    transition: all 0.3s ease;
}

#footer-contact button:hover {
    background-color: rgb(0, 255, 242);
    color: black;
    transition: all 0.5s ease;
    transition: all 0.5s ease;
}



#footer-info {
    height: 50%;
    background-color: white;
    padding: 60px;
}

#footer-info h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 32px;
    display: flex;
    margin-right: auto;
    position: flex;
    transition: all 0.3s ease;
    color: rgb(0, 0, 0);
}


/* Footer Container */
.footer-container {
    padding: 60px;
}

/* Footer Content Grid */
.footer-content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 4rem;
    margin-top: 30px;
}

.footer-content h2 {
    font-size: 2rem;
    font-weight: 900;
    color: rgba(255,255,255,0.7);
}

.footer-content span {
    transition: all 0.3s ease;
    color: rgba(255,255,255,0.7);
}

.footer-content:hover span {
    color: rgba(0,255,255)
}


/* Logo Styling */
.footer-logo {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

/* Description Styling */
.footer-description {
    color: rgba(255,255,255,0.7);
    max-width: 400px;
    line-height: 1.6;
}

.footer-column {
    font-size: 1.3rem;    
}

.footer-column2 {
    font-size: 1.3rem;   
    width: 700px; 
}
/* Column Headings */
.footer-column h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    color: rgba(255,255,255,0.5);
}

/* Links Styling */
.footer-links a {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
    margin-bottom: 0.75rem;
}

.footer-links a:hover {
    color: #fff;
}

/* Bottom Section */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

/* Social Icons */
.footer-social a {
    color: rgba(255,255,255,0.7);
    margin-left: 1.5rem;
    font-size: 1.25rem;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #fff;
}

.footer-social img {
    max-width: 32px;
    max-height: 32px;
    filter: invert(1) brightness(0.6);
    transition: all 0.3s ease;
}

.footer-social img:hover {
    filter: invert(1);
}


/* Newsletter Styling */
.footer-newsletter {
    display: flex;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 0.5rem;
    width: 300px;
}

.footer-newsletter input {
    background: transparent;
    border: none;
    color: #fff;
    flex-grow: 1;
    outline: none;
    font-size: 1rem;
}

.footer-newsletter button {
    background: none;
    border: none;
    color: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 1rem;
}

.footer-newsletter button:hover {
    color: #fff;
}

/* Адаптивные стили */
@media screen and (max-width: 1400px) {
    section-1 {
        width: 100%;
        padding: 0 20px;
    }

    .text2-s1 {
        gap: 3rem;
    }

    .info {
        gap: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    /* Навигация */
    nav {
        padding: 15px;
    }

    #logo {
        margin-left: 15px;
    }

    /* Секция 1 */
    .text1-s1 {
        font-size: 2.5em;
    }

    .text2-s1 {
        font-size: 1.2em;
        gap: 2rem;
        margin-top: 2rem;
        flex-direction: column;
        text-align: center;
    }

    .info {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;
    }

    /* Секция 2 */
    #section-2 {
        padding: 99px 30px 30px 30px;
    }

    .services {
        max-width: 100%;
    }

    /* Секция 3 */
    .carousel-slide {
        width: 300px;
    }

    .img-project {
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    /* Навигация */
    nav {
        height: 70px;
        padding: 10px 20px;
        flex-direction: row;
        justify-content: flex-start;
        position: fixed;
    }

    #logo {
        margin-left: 0;
        margin-right: auto;
    }

    #logo img {
        height: 40px;
    }

    #right-nav, #contact {
        display: none;
    }

    /* Секция 1 */
    #section-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;       
        align-items: center; 
    }


    .text-s1 {
        font-size: 2em;
        display: flex;
        flex-direction: column; /* Stack children vertically */
        text-align: left; /* Align children to the left */
        width: 100%;
    }

    .text2-s1 {
        font-size: 1em;
        margin-bottom: 30px;
        align-items: left;
        margin-top: 60px;
    }

    .text2-s1 p {
        display: flex;
        font-size: 1.5rem;
        margin-right: auto;
        text-align: left;
    }

    .info {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        gap: 1rem;
      }

      #foundation, #projects, #people, #clients {
        max-width: 150px;
      }

    #contact-button {
        display: block;
        margin: 20px auto;
        padding: 12px 25px;
    }

    /* Секция 2 */
    #section-2 {
        padding: 70px 20px 20px 20px;
    }

    #section-2 .title {
        font-size: 2rem;
    }

    .question h3 {
        font-size: 1.3rem;
    }

    #span-question {
        font-size: 1.4rem;
    }

    .answer p {
        font-size: 1.1rem;
    }

    /* Секция 3 */
    #section-3 .title {
        margin-left: 20px;
        font-size: 1.5rem;
    }

    .carousel-slide {
        width: 250px;
    }

    .img-project {
        height: 300px;
    }

    .text {
        font-size: 16px;
        padding: 10px;
    }

    /* Карусель */
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-300%);
        }
    }

    .carousel-track {
        animation: scroll 30s linear infinite;
    }
}

@media screen and (max-width: 480px) {
    /* Навигация */
    nav {
        padding: 10px 15px;
        position: fixed;
    }

    #logo img {
        height: 35px;
    }

    .burger-menu {
        right: 15px;
    }

    /* Секция 1 */
    .text1-s1 {
        font-size: 1.5em;
        padding-left: 20px;
        padding-right: 20px;
    }

    .text2-s1 {
        font-size: 1em;
        padding-left: 20px;
        padding-right: 20px ;    
        text-align: left;
    }

    /* Информационные блоки в сетку 2х2 */
    .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 0 20px;
    }

    #foundation, #projects, #people, #clients {
        text-align: left;
    }

    /* Секция 2 */
    #section-2 {
        padding: 15px 15px 15px 15px;
    }

    #section-2 .title {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .question h3 {
        font-size: 1.1rem;
    }

    #span-question {
        font-size: 1;
    }
 
    /* Секция 3 */
    #section-3 .title {
        margin-left: 0px;
        margin-top: 50px;
        margin-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #section-3 {
        padding-top: 0px;
    }

    .carousel-slide {
        width: 200px;
    }

    .carousel-container {
        padding: 0px;
        margin-top: 15px;
    }
}